{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' href='/css/chat.css'>
{% endblock %}

{% block content %}
    <div class="content"></div>
{% endblock %}

{% block script %}
    <script src="/js/chat.js"></script>
{% endblock %}