{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' href='/css/login.css'>
{% endblock %}

{% block content %}
    <div class="content"></div>

{% endblock %}

{% block script %}
    <script src=""></script>
{% endblock %}