{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' ,="," href='/css/login.css'>
{% endblock %}

{% block content %}{% endblock %}

{% block script %}
    <script></script>
{% endblock %}