{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' href='/css/login.css'>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-title">
            title
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/js/login.js"></script>
{% endblock %}