{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' href='/css/login.css'>
{% endblock %}

{% block content %}
    <form class="login">
        <h1>title</h1>
    </form>
{% endblock %}

{% block script %}
    <script src="/js/login.js"></script>
{% endblock %}