{% extends 'layout.njk' %}

{% block style %}
    <link rel='stylesheet' href='/css/chat.css'>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="box">
                {% for items in users %}
                    <div>
                        <img src='{{items.avatar}}' class='avatar'>
                        <div class="chat_name">{{items.nickName}}</div>
                    </div>

                    <dv class="chat_content">{{items.content}}</dv>
                    <div>
                        <div class='chat_date'>{{items.createAt}}</div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <input type="text" class="text">
    </div>
{% endblock %}

{% block script %}
    <script src="/js/chat.js"></script>
{% endblock %}